.modal {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 100;
  left: 0;
  top: 0;
}

.modal__content {
  background-color: white;
  border-radius: 3px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d7d7d7;
  border-width: 100%;
  padding: 10px;
}

.modal__icon--close {
  font-size: 15px;
  background-color: transparent;
  border: none;
}

.modal__icon--close i {
  font-size: 20px;
  color: #777373;
}

.modal__main {
  padding: 10px;
  border-bottom: 2px solid #d7d7d7;
}

.modal__progressBar {
  background: #d7d7d7;
  height: 20px;
  border-radius: 5px;
  margin: 15px 0;
  overflow: hidden;
}

.modal__progressBar--inner {
  background: #007bbf;
  height: 100%;
  width: 50%;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.modal__close {
  background-color: #777373;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  padding: 8px;
}
