@mixin Item_details(){
  display: inline-block;
  border-radius: 5px;
  margin-right: 3px;
  padding: 3px;
  font-size: 10px;
  font-weight: 800;

}
.Item_card{
  max-width: 90%;
  border-style: solid;
  margin: 10px;
  font-weight: 600;
  border-width: 1px;
  padding: 20px;
  border-radius: 5px;

}
.item_name{
  margin: 5px 0px;
}
.item_calories{
  background-color: #17a2b8;
  @include Item_details;
  color: #ffffff;
}

.item_type{
  background-color:#007bff;
 @include Item_details;
  color: #ffffff;
}

.item_category{
  background-color: #ffc107;
 @include Item_details
}



