.App-header {
  margin-bottom: 15px;
  text-align: center;
  padding-top: 15px;
  font-size: 26px;
  font-weight: 600;

}

.theLine {
  border-bottom: 1px solid;
  border-bottom-color: #d7d7d7;
  margin-bottom: 15px;

}

.blue-text {
  color: #17a2b8;
}


@media screen and (min-width: 745px) {
  .App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}



