* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  padding: 20px 0;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.restaurant__grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  column-gap: 15px;
}

@media (min-width: 750px) {
  .restaurant__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .restaurant__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
